// params {
//     run_basecaller = true
//     run_demux      = true
//     run_filtering  = true
//     run_qc         = true
// }

// if(params.only_samplesheet) {
//     params.run_basecaller = false
//     params.run_demux      = false
//     params.run_filtering  = false
//     params.run_qc         = false
// }

// if(params.only_basecall) {
//     params.run_basecaller = true
//     params.run_demux      = false
//     params.run_filtering  = false
//     params.run_qc         = false
// }

// if(params.only_demux) {
//     params.run_basecaller = true
//     params.run_demux      = true
//     params.run_filtering  = false
//     params.run_qc         = false
// }

// if(params.only_filtering) {
//     params.run_basecaller = true
//     params.run_demux      = true
//     params.run_filtering  = true
//     params.run_qc         = false
// }
