// Small test with real data

params {
    // Resources
    max_cpus   = 10
    max_memory = '16.GB'
    max_time   = '6.h'

    // Pipeline params
    sample_sheet    = "$projectDir/tests/data/samplesheets/test_flu_small.csv"
    viral_fasta     = "$projectDir/tests/data/seq_sim/influenza_A/*"
    primers_fasta   = "$projectDir/tests/data/primer_sets/wic_fluA_primers.fasta"
    primers_csv     = "$projectDir/tests/data/primer_sets/wic_fluA_primers.csv"
    trim_primers    = true
    genome          = "GRCh38"
}
