params {
    // Resources
    max_cpus   = 10
    max_memory = '16.GB'
    max_time   = '6.h'

    // Pipeline params
    sample_sheet = "$projectDir/tests/data/samplesheets/test_nanopore_cov_amp.csv"
    viral_fasta  = "$projectDir/data/refs/covid/SARS-CoV-2.fasta"

    // Pipeline flow
    run_illumina_qc_trim  = false
    run_nanopore_qc_trim  = true
    assemble_ref          = false
    run_iterative_align   = false
}