// Small test with real data

params {
    // Resources
    max_cpus   = 10
    max_memory = '16.GB'
    max_time   = '6.h'

    // Pipeline params
    viral_fasta = "/Users/cheshic/dev/test_data/viral/flu/refs"
    sample_sheet = "$projectDir/tests/samplesheets/test_flu_small.csv"

    host_fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/hg38-chr20.fa.gz'
}
