// // Tests on a single unclassified bam with no basecalling

// params {
//     // Limit resources so that this can run on CI
//     max_cpus   = 2
//     max_memory = '8.GB'
//     max_time   = '6.h'

//     // Pipeline params
//     debug = true
//     run_dir = "$projectDir/tests/data/runs/20230830_1215_P2S-00767-A_PAO92586_3b7ba738"
//     bam = "$projectDir/tests/data/bam/200_sub.bam"
//     samplesheet = "$projectDir/tests/data/runs/20230830_1215_P2S-00767-A_PAO92586_3b7ba738/samplesheet.csv"
//     dorado_model = 'hac'
// }
