params {
    // Resources
    max_cpus   = 10
    max_memory = '16.GB'
    max_time   = '6.h'

    // Pipeline params
    sample_sheet = "$projectDir/tests/data/samplesheets/test_nanopore_cov_amp.csv"
    viral_fasta  = "$projectDir/data/refs/covid/SARS-CoV-2.fasta"
    primers_bed  = "$projectDir/data/refs/covid/primer_sets/SARS-CoV-2.PrimerScheme-Midnight-ONT-V3.bed"
    minimap2_extra_args = "-x map-ont"

    // Flow options
    generate_reads          = false
    trim_primers_from_reads = false
    remove_host_reads       = false
    soft_clip_primers       = false
    assemble_ref            = false

    // Pipeline sections
    run_illumina_qc_trim   = false
    run_nanopore_qc_trim   = true
    run_bwa_align          = false
    run_iterative_align    = false
    run_minimap_align      = true
    run_illumina_mark_dups = false
    run_artic_primer_trim  = true
}
