params {
    // Resources
    max_cpus   = 10
    max_memory = '16.GB'
    max_time   = '6.h'

    // Pipeline params
    samplesheet    = "$projectDir/tests/data/samplesheets/test_flu_small.csv"
    viral_fasta     = "$projectDir/tests/data/seq_sim/influenza_A/*"
    primers_fasta   = "$projectDir/data/refs/influenza/flu_A/primer_sets/wic_fluA_mbt_uni.fasta"
    primers_csv     = "$projectDir/data/refs/influenza/flu_A/primer_sets/wic_fluA_mbt_uni.csv"
    genome          = "GRCh38"

    // Pipeline sections
    run_illumina_qc_trim   = true
    run_remove_host_reads  = true
    run_assemble_ref       = true
    run_iterative_align    = true
    run_illumina_mark_dups = true

    // Pipeline params
    trim_primers_from_reads = true
    annotate_flu_ref        = true
}
