params {
    // Resources
    max_cpus   = 10
    max_memory = '16.GB'
    max_time   = '6.h'

    // Pipeline params
    samplesheet    = "$projectDir/tests/data/samplesheets/test_flu_small.csv"
    viral_fasta     = "$projectDir/tests/data/seq_sim/influenza_A/*"
    // primers_fasta   = "$projectDir/tests/data/primer_sets/wic_fluA_primers.fasta"
    // primers_csv     = "$projectDir/tests/data/primer_sets/wic_fluA_primers.csv"
    genome          = "GRCh38"


    // Pipeline params

    // Flow options
    trim_primers_from_reads = true
    remove_host_reads       = true
    assemble_ref            = true

    // Pipeline sections
    run_illumina_qc_trim   = true
    run_iterative_align    = true
    run_illumina_mark_dups = true
}
