params {
    // Resources
    max_cpus   = 10
    max_memory = '32.GB'
    max_time   = '6.h'

    // Pipeline params
    samplesheet = "$projectDir/tests/data/samplesheets/test_vectorcore_aav.csv"
    minimap2_extra_args = "-x lr:hq"
    medaka_inference_extra_args = "--chunk_len 800 --chunk_ovlp 400"
    clair3_extra_args = "--var_pct_full=1.0 --ref_pct_full=1.0 --no_phasing_for_fa --include_all_ctgs --haploid_precise --chunk_size=800 --disable_c_impl"

    // Flow options
    use_independant_refs = true
    force_ref_to_upper   = true

    // Pipeline sections
    run_nanopore_qc_trim   = true
    run_minimap_align      = true
    run_nanopore_varcall   = true
    run_msa                = true
}
