params {
    // Resources
    max_cpus   = 10
    max_memory = '16.GB'
    max_time   = '6.h'

    // Pipeline params
    sample_sheet = "$projectDir/tests/data/samplesheets/test_nanopore_cov_amp.csv"
    viral_fasta  = "$projectDir/data/refs/covid/SARS-CoV-2.fasta"

    // Flow options
    generate_reads    = false
    trim_primers      = false
    soft_clip_primers = false
    assemble_ref      = false
    remove_host_reads = false

    // Pipeline sections
    run_illumina_qc_trim  = false
    run_nanopore_qc_trim  = false
    run_bwa_align         = false
    run_iterative_align   = false
    run_minimap_align     = false
}

