// Small test with generated data

params {
    // Resources
    max_cpus   = 10
    max_memory = '16.GB'
    max_time   = '6.h'

    // Pipeline params
    generate_reads = true
    host_fasta     = 'https://raw.githubusercontent.com/nf-core/test-datasets/cutandrun/reference/genomes/hg38-chr20.fa.gz'
    viral_fasta    = "$projectDir/tests/data/seq_sim/fasta_no_host/*.fasta"
}
