params {
    outdir = "output/"
    publish_dir_mode = "copy"
    test_data_dir = "tests/data"
}

process {
    cpus = 2
    memory = 6.GB
    time = 2.h
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    arm {
        includeConfig "arm.config"
    }
}

docker.registry      = 'quay.io'
singularity.registry = 'quay.io'

// Load test data
// includeConfig "https://raw.githubusercontent.com/nf-core/modules/master/tests/config/test_data.config"
// includeConfig "test_data.config"

manifest {
    nextflowVersion = '>=24.04.0'
}
